* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: oldlace;
}

.root-container {
	width: 70%;
	margin: 0 auto;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.title {
	font-family: "Impact", sans-serif;
	font-size: 8rem;
	text-align: left;
	color: black;
	margin: 0;
	line-height: 0.8;
}

h2 {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-size: 1.4rem;
	text-align: center;
}

h4 {
	font-family: "Impact", sans-serif;
	font-size: 4rem;
	margin: 0;
}

h5 {
	font-family: "Impact", sans-serif;
	font-size: 2rem;
	margin: 0;
}

h6 {
	font-family: "Impact", sans-serif;
	font-size: 1.4rem;
	margin: 0;
}

p {
	font-size: 1.1rem;
}

.head {
	width: 875px;
	height: 875px;
	background: url("../public/headshot.png") no-repeat center/cover;
	position: fixed;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
	transform-origin: 50% 50%;
	z-index: 10;
}

.box-frame {
	height: 250px;
	width: 70px;
	background-color: rgba(167, 167, 167, 0.8);
}

.menu-button {
	display: flex;
	align-items: center;
	justify-content: center;
	background: none;
	border: none;
	cursor: pointer;
}

.menu-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	clip-path: circle(0% at 100% 0%);
	z-index: 150;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu-overlay nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

.menu-overlay nav ul li {
	margin: 20px 0;
}

.menu-overlay nav ul li a {
	color: oldlace;
	font-size: 7rem;
	font-family: "Impact", sans-serif;
	text-decoration: none;
	transition: color 0.3s;
}

.menu-overlay nav ul li a:hover {
	color: #ccc;
}

.letter {
	display: inline-block;
}

.paint-wipe-container {
	position: relative;
	z-index: 2;
}

.brush-reveal-wrapper {
	position: relative;
	width: 100%;
	height: 300px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.brush-reveal-text {
	font-size: 8rem;
	font-family: "Impact", sans-serif;
	color: black;
	position: relative;
	z-index: 5;
	mix-blend-mode: screen;
}

.menu-item {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	font-size: 1.4rem;
}

.contact-bar {
	position: fixed;
	top: 50%;
	left: 0%;
	transform: translateY(-50%) rotate(-90deg);
	transform-origin: top left;
	background-color: #333;
	color: #fff;
	padding: 0.7rem;
	font-family: "Impact", sans-serif;
	font-weight: 300;
	z-index: 9999;
	cursor: pointer;
}

.section {
	width: 100%;
	border-radius: 8px;
}

.work-box img {
	max-width: 300px;
	height: auto;
}
